input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea[name=Contact-Message], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    background-color: rgb(71, 124, 83);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  button:hover {
    background-color:rgb(52, 82, 58);
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: rgb(71, 124, 83);
  }

  /* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background-image: url("/img/header2.png");
    background-color: #1abc9c;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .p1 {
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer {
  
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50px;
   background-color: rgb(71, 124, 83);
   color: white;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
}
  